.item {
    margin-left: 0;
    margin-right: 2vw;
    width: auto;
    height: 6vw;
    background-color: rgb(40,35,40);
    padding: 1vw;
    margin-top: 1vw;
    border-radius: 2vw;
    display: flex;
    align-items: center;
}

.item img {
    height: 100%;
    display: inline-block;
    border-radius: 1vw;
}

.name, .time {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50vw;
}

.time {
    background-color: rgb(80,75,80);
}

.delete {
    margin-left: auto;
    width: 3vw;
    background-color: rgb(180,20,60);
    border-radius: 2vw;
    cursor: pointer;
}