.form {
    width: auto;
    margin-left: 0;
    margin-right: 2vw;
    background-color: rgb(40,35,40);
    border-radius: 2vw;
    padding-top: 1vw;
}

.form_title {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 6vw;
    text-align: center;
    display: block;
    width: 100%;
    color: rgb(255,255,255);
}

.form_dec {
    width: 80%;
    height: 10vw;
    margin: 0;
    margin-left: 10%;
    padding: 0;
    margin-top: 1vw;
    background: none;
    border: 0;
    resize: none;
    color: rgb(255,255,255);
    font-size: 5vw;
    font-family: 'title_light';
}