.form {
    width: auto;
    margin-top: 2vw;
    margin-left: 0;
    margin-right: 2vw;
    background-color: rgb(40,35,40);
    border-radius: 2vw;
    padding: 2vw;
}

.forms h2 {text-align: center; cursor: pointer;}
.forms p {
    display: inline-block;
    width: auto;
    cursor: pointer;
}
.forms img {
    margin: 0;
    padding: .5vw;
    border-radius: 2vw;
    height: max(2vw,30px);
    background-color: rgb(255,255,255);
    float: right;
}

.hidden { display: none; }

.blur {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    will-change: transform;
    -webkit-backdrop-filter: blur(5px);
}

.share_dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 111;
    width: 70vw;
    background-color: rgb(80,75,80);
    border-radius: 5vw;
    padding: 2vw;
}

.share_dialog a {display: block; text-align: center; margin-top: 15vw;}
.share_dialog p {text-overflow: ellipsis; overflow: hidden; max-width: 55vw;}

.share_dialog img {
    margin: auto;
    margin-top: 15vw;
    margin-bottom: 5vw;
    text-align: center;
    display: block;
    height: 12vw;
}