<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>모집 공고 작성 - T.F Lab</title>

        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link type="text/css"  rel="stylesheet" href="/file/css/mobile/main.css" media="only screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/main.css" media="not screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/mobile/form.css" media="only screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/form.css" media="not screen and (max-width: 600px)">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <img class="logo" src="/file/img/tf_dot_text_logo.svg">
        <hr/>
        <a class="login" href="/login">Login</a>

        <div class="panel">
            <a class="sub_title" href="/">HOME</a> <a>></a> <a style="margin:0" class="sub_title" href="">Forms</a> <a>></a> <a style="margin:0" class="sub_title" href="">{{form[1]}}</a>

            <div class="form">
                <h1 class="form_title">{{form[1]}}</h1>
                <hr>
                <span class="form_dec">{{form[2]}}</span>

            </div>

            <div class="items">
                {% for index, i in enumerate(data) %}
                <div class="form_">
                    <h2>{{i['title']}}</h2>
                    {% if i['most'] %}
                    <div class="most_box"><p>필수 답변</p></div>
                    {% endif %}
                    <span class="dec">{{i['dec']}}</span>
                    {% for l in d(i['options']) %}
                    <div class="option">
                    {% if i['type'] != 'long' %}<input name="{{index}}" placeholder="답변을 입력해 주세요." type="{{i['type']}}" {% if i['type']!='text' %}value="{{l}}" {%endif%}>
                    {% else %}
                        <textarea name="{{index}}" placeholder="답변을 입력해 주세요."></textarea>
                    {% endif %}
                    {% if l != None and l!='None' and l != 'null' %}
                    <label>{{l}}</label>
                    {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="submit_form">
                <p>답변 제출</p>
            </div>
        </div>

        <img class="logo" src="/file/img/tf_dot_text_logo.svg">
        <div class="bottom_bar">
            <p>Copyright 2024. T.F Lab. all rights reserved.</p>
            <p>Github - <a href="https://github.com/seon0313/T.F-Web" target="_blank">T.F Web</a></p>
        </div>
        <script src="/file/js/textarea.js"></script>
        <script src="/file/js/form_viewer.js"></script>
    </body>
</html>