<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>{{title}} - T.F Lab</title>

        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link type="text/css"  rel="stylesheet" href="/file/css/mobile/main.css" media="only screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/main.css" media="not screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/mobile/project.css" media="only screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/project.css" media="not screen and (max-width: 600px)">

        <link type="text/css" rel="stylesheet" href="/file/css/project2.css">
        <link type="text/css" rel="stylesheet" href="/file/css/content-styles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/file/js/project.js"></script>
    </head>
    <body>
        <img class="logo" src="/file/img/tf_dot_text_logo.svg">
        <hr/>
        <a class="login" href="/login">Login</a>

        <div class="panel">
            <a class="sub_title" href="/">HOME</a> <a>></a> <a style="margin:0" class="sub_title" href="/projects">Projects</a> <a>></a> <a style="margin:0" class="sub_title" href="">{{title}}</a>
            <div class="project_item">
                <h1 class="project_title">{{title}}</h1>
                <hr>
                <a class="login" href="/member/{{author[0]}}">{{author[1]}}</a>
                <div class="project_item_in ck-content load">{{html}}</div>
            </div>
        </div>
        <div class="bottom_bar">
            <p>Copyright 2024. T.F Lab. all rights reserved.</p>
            <p>Github - <a href="https://github.com/seon0313/T.F-Web" target="_blank">T.F Web</a></p>
        </div>
    </body>
</html>