<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Upload File Manager - T.F Lab</title>

        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link type="text/css"  rel="stylesheet" href="/file/css/mobile/main.css" media="only screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/main.css" media="not screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/mobile/upload_manager.css" media="only screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/upload_manager.css" media="not screen and (max-width: 600px)">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <img class="logo" src="/file/img/tf_dot_text_logo.svg">
        <hr/>
        <a class="login" href="/sign-in">Sign - in</a>

        <div class="panel">
            <a class="sub_title" href="/">HOME</a> <a>></a> <a style="margin:0" class="sub_title" href="/upload">Upload</a> <a>></a> <a style="margin:0" class="sub_title" href="">Manager</a>

            <div class="items">
                {% for i in files %}
                    <div class="item">
                        <img src="{{i[3]}}" onerror="this.src='/file/img/none.png'">
                        <p class="name">{{i[2]}}</p>
                        <p class="time">{{i[5]}}</p>
                        <img class="delete" src="/file/img/delete.svg" data-id="{{i[0]}}">
                    </div>
                {% endfor %}
            </div>
        </div>
        <script src="/file/js/upload_manager.js"></script>
    </body>
</html>