<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Upload Project - T.F LAP</title>

        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link type="text/css"  rel="stylesheet" href="/file/css/mobile/main.css" media="only screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/main.css" media="not screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/mobile/projects.css" media="only screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/projects.css" media="not screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/mobile/upload_project_edit.css" media="only screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/upload_project_edit.css" media="not screen and (max-width: 600px)">
    </head>
    <body>
        <img class="logo" src="/file/img/tf_dot_text_logo.svg">
        <hr/>
        <a class="login" href="/login">Login</a>

        <div class="panel">
            <a class="sub_title" href="/">HOME</a> <a>></a> <a style="margin:0" class="sub_title" href="/upload">Upload</a> <a>></a> <a style="margin:0" class="sub_title" href="/upload/edit_project">Edit Project</a>  <a>></a> <a style="margin:0" class="sub_title" href="">{{title}}</a>

            {% if len <= 0 %}
            <h3 class="non_object">프로젝트가 없습니다.</h3>
            {% endif %}

            {% for i in projects %}

            <div class="projects_item" onclick="location.href = '/project?edit={{i[0]}}'">
                <div class="p_img_hover"></div>
                <img class="p_img" id="p_img" src="{{i[3]}}">
                <img class="p_img_p" src="/file/img/expand_content.svg">
                <a class="p_title">{{i[1]}}</a>
                <a class="p_author"></a>
                <a class="p_time">{{i[4]}}</a>
            </div><!-- id, title, category, img, time-->
            <div class="projects_item_" onclick="location.href = '/'">
                 <p>복구하기</p>
            </div>

            {% endfor %}
        </div>
    </body>
</html>