<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Upload Member - T.F LAP</title>

        <link type="text/css" rel="stylesheet" href="/file/css/main.css">
    </head>
    <body>
        <img class="logo" src="/file/img/tf_dot_text_logo.svg">
        <hr/>
        <a class="login" href="/sign-in">Sign - in</a>

        <div class="panel">
            <a class="sub_title" href="/">HOME</a> <a>></a> <a style="margin:0" class="sub_title" href="/upload">Upload</a> <a>></a> <a style="margin:0" class="sub_title" href="/upload/member">Member</a>

            <div class="login_form">

                <h2 id="login_title">Member</h2>

                <form method="post" action="/login">
                    <input type="text" placeholder="ID" name="id" id="id"/> <br>
                    <input type="password" placeholder="PW" name="pw" id="pw"/> <br>

                    <br>

                    <input class="login_submit" type="submit" value="Login">
                </form>
            </div>

        </div>
    </body>
</html>