<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>모집 공고 작성 - T.F Lab</title>

        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link type="text/css"  rel="stylesheet" href="/file/css/mobile/main.css" media="only screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/main.css" media="not screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/mobile/upload_join.css" media="only screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/upload_join.css" media="not screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/mobile/form.css" media="only screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/form.css" media="not screen and (max-width: 600px)">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <img class="logo" src="/file/img/tf_dot_text_logo.svg">
        <hr/>
        <a class="login" href="/sign-in">Sign - in</a>

        <div class="panel">
            <a class="sub_title" href="/">HOME</a> <a>></a> <a style="margin:0" class="sub_title" href="/upload">Upload</a> <a>></a> <a style="margin:0" class="sub_title" href="">모집 공고</a>
            <div class="form_time_div">
                <p>상단 노출 기간</p>
                <input class="form_time" type="number" value="7">
                <p class="day_text">일</p>
                <button class="submit">업로드</button>
            </div>
            <div class="form">
                <input class="form_title" placeholder="여기에 제목을 입력해 주세요.">
                <hr>
                <textarea class="form_dec" placeholder="여기에 설명을 입력해 주세요."></textarea>
            </div>

            <div class="items">

            </div>

            <div class="add">
                <img src="/file/img/add.svg">
            </div>
        </div>
        <script src="/file/js/upload_form.js"></script>
    </body>
</html>