<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Upload Files - T.F Lab</title>

        <link type="text/css" rel="stylesheet" href="/file/css/main.css">
        <link type="text/css" rel="stylesheet" href="/file/css/upload_files.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <img class="logo" src="/file/img/tf_dot_text_logo.svg">
        <hr/>
        <a class="login" href="/sign-in">Sign - in</a>

        <div class="panel">
            <a class="sub_title" href="/">HOME</a> <a>></a> <a style="margin:0" class="sub_title" href="/upload">Upload</a> <a>></a> <a style="margin:0" class="sub_title" href="">Files</a>
            <div></div>
            <div class="panel_in">
                <p>왼쪽 상자에 사진/파일 끓어다 놓기 . . . . . . . . . . . . 오른쪽 상자에서 업로드할 파일 확인 및 삭제</p>
                <div class="file_drag_drop"></div>
                <div class="file_list"></div>
            </div>
            <div class="submit"><p class="t">업로드</p></div>
            <script src="/file/js/drag_and_drop.js"></script>
        </div>
    </body>
</html>