<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Upload Password - T.F Lab</title>

        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link type="text/css"  rel="stylesheet" href="/file/css/mobile/main.css" media="only screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/main.css" media="not screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/mobile/login.css" media="only screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/login.css" media="not screen and (max-width: 600px)">
    </head>
    <body>
        <img class="logo" src="/file/img/tf_dot_text_logo.svg">
        <hr/>
        <a class="login" href="/sign-in">Sign - in</a>

        <div class="login_panel">
            <a class="sub_title" href="/">HOME</a> <a>></a> <a style="margin:0" class="sub_title" href="/upload">Upload</a> <a>></a> <a style="margin:0" class="sub_title" href="/upload/password">Password</a>

            <div class="login_form">

                <h2 id="login_title">비밀번호 변경</h2>

                <form method="post" action="/upload/password">
                    <input type="password" placeholder="현재 비밀번호" name="now_pw" id="id"/> <br>
                    <br>
                    <input type="password" placeholder="새 비밀번호" name="pw" id="pw"/> <br>
                    <input type="password" placeholder="비밀번호 확인" name="re_pw" id="pw"/> <br>

                    <br>

                    <input class="login_submit" type="submit" value="비밀번호 변경하기">
                </form>
            </div>

        </div>
    </body>
</html>