<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>This is T.F Lab - T.F Lab</title>

        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link type="text/css"  rel="stylesheet" href="/file/css/mobile/main.css" media="only screen and (max-width: 600px)">
        <link type="text/css"  rel="stylesheet" href="/file/css/main.css" media="not screen and (max-width: 600px)">
    </head>
    <body>
        <img class="logo" src="/file/img/tf_dot_text_logo.svg">
        <hr/>
        <a class="login" href="/sign-in">Sign - in</a>

        <div class="panel">
            <a class="sub_title" href="/">HOME</a> <a>></a> <a style="margin:0" class="sub_title" href="">Wellcome</a>

            <h2>환영합니다!</h2>
            <p>T.F Lab은 설계 / 제어 / 시스템 모든 과목을 통달 하고 싶은 야망을 가진</p>
            <p>당신에게 가장 잘 어울리는 동아리입니다.</p>
            <p>지금 당장 확인해 보세요!</p>
        </div>
    </body>
</html>